﻿.tab-autocontrol .top .topleft {
	margin-top:	6px;
    width: 45%;
	float:left;
	height:30px;
}
.tab-autocontrol .top .topright {
    float: left;
    height:30px;
    width: 55%;
}

.tab-autocontrol .top .topleft .dropdownScripts {
	width:210px;
}

.tab-autocontrol .bar {
    width: calc(100%);
    background-color:orange;
    height:3px
}

.tab-autocontrol {
    height:100%;
}

.tab-autocontrol .lowerScriptContent {
    position:absolute;
    bottom:0px;
    top:55px;
    left: 0;
    right: 0;
}

.tab-autocontrol .buttons {
    /*margin-top: 10px;*/
    bottom: 10px;
}
.tab-autocontrol .buttons a {
    display: block;
    float: left;

    margin: 0 10px 5px 0;
    padding: 0 15px 0 15px;
	width: 60px;

    height: 23px;
    line-height: 23px;
    text-align: center;
    /*font-weight: bold;*/

    border: 1px solid silver;
    background-color: #ececec;
}
.tab-autocontrol .buttons a:hover {
    background-color: #dedcdc;
}
