.tab-debug .black-line {
	height: 10px;
	width: 95%;
    padding-top: 10px;
	position: relative;
	top: -5px;
}
.tab-debug #debugHack {
	border: 1px solid silver;
    height: 20px;
    width: 45px;
}
.tab-debug .left {
    width: 60%;
}
.tab-debug .right {
    float: left;

    margin-left: 10px;
    width: calc(40% - 10px);
}
.tab-debug #log {	
    height: auto;
}
.tab-debug #log .wrapper {
    padding: 5px;

    -webkit-user-select: text;
}
.tab-debug #log a {
    font-weight: bold;
}
.tab-debug #log a:hover {
    text-decoration: underline;
}

.tab-debug .section {
    margin-bottom: 10px;
}

.left .section:last-child,
.right .section:last-child {
    margin-bottom: 0px;
}

.tab-debug .optional_permissions {
    display: none;

    border: 1px solid silver;
}
.tab-debug .optional_permissions .title {
    line-height: 20px;

    text-align: center;
    font-weight: bold;
    color: white;

    border-bottom: 1px solid silver;
    background-color: #cd4c4c;
}
.tab-debug .optional_permissions p {
    padding: 5px;
}
.tab-debug .optional_permissions a {
    display: block;
    float: left;

    height: 28px;
    line-height: 28px;

    margin: 0 0 5px 5px;
    padding: 0 15px 0 15px;

    text-align: center;
    font-weight: bold;

    border: 1px solid silver;
    background-color: #ececec;
}
.tab-debug .optional_permissions a:hover {
    background-color: #dedcdc;
}

.welcome {
    height: 207px;
}

.contributing,
.welcome {
    padding: 5px;
    border: 1px solid silver;
}

.contributing a,
.welcome a {
    font-weight: bold;
}
.contributing a:hover,
.welcome a:hover {
    text-decoration: underline;
}

.contributing li {
    list-style-type: disc;
    list-style-position: initial;
    margin-left: 20px;
}

.changelog {
    border: 1px solid silver;
}
.changelog .title {
    line-height: 20px;

    text-align: center;
    font-weight: bold;
    color: white;

    border-bottom: 1px solid silver;
    background-color: #3f4241;
}
.changelog .wrapper {
    height: 150px;

    padding: 5px;

    overflow-y: scroll;
    overflow-x: hidden;

    -webkit-user-select: text;
}
.changelog .wrapper span {
    font-weight: bold;
}
.changelog .wrapper p {
    margin-bottom: 5px;
}

.donate {
    height: 92px;
    border: 1px solid silver;
}

.section .title {
    line-height: 20px;

    text-align: center;
    font-weight: bold;
    color: white;

    border-bottom: 1px solid silver;
    background-color: #3f4241;
}
.donate p {
    padding: 5px;
}
.donate a {
    display: block;

    width: 74px;
    height: 21px;

    margin: auto;
}

.tab-debug .sponsors {
    height: 254px;
    border: 1px solid silver;
}
.tab-debug .sponsors p {
    padding: 5px;
}
.tab-debug .sponsors p a {
    font-weight: bold;
}
.tab-debug .sponsors p a:hover {
    text-decoration: underline;
}
.tab-debug .header{
	height: 132px;
	text-align: center;
	font-size: 20px;
}
.tab-debug #debug-logo{
	position: relative;
	top: -20px;
	height: auto;
	width: 450px;
}
.tab-debug p#description{
	position: relative;
	top: -35px;
}
.tab-debug #debug-left {
	padding: 15px 15px 15px 50px;
	height: inherit;
	float: left;
	width: calc(50% - 60px);
}
.tab-debug #debug-right {
	padding: 15px;
	height: inherit;
	float: right;
	width: calc(50% - 60px);
}
.tab-debug #footer-right {
	height: inherit;
	float: right;
}
.tab-debug a.link {
	text-decoration: underline;
}
.tab-debug li {
	list-style-type: disc;
	font-size: 16px;
}
.tab-debug a.button {
	position: relative;
	top: 50px;
	left: 40px;
    display: block;
    float: left;

    margin: 0 10px 0 0;
    padding: 0 15px 0 15px;

    height: 20px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;

    border: 1px solid silver;
    background-color: #ececec;
}
.tab-debug a.button:hover {
    background-color: #dedcdc;
}
.tab-debug .tyto-logo{
	top: 20px;
	position: relative;
	float: right;
	height: auto;
	width: 200px;
}
.tab-debug p.tyto-logo{
	float: left;
	position: relative;
	top: 50px;
	left: 55px;
}