<div id="content-watermark"></div>     
<div class="tab-sensors">
    <div class="info">
		<div id="checkboxWrapper">
			<label id="checkboxTitle" i18n="realTimePlots"></label>
            <div style="float:right;">
                <b i18n="plotsRefreshRate"></b> 
                <select name="plotRefreshRate" id="plotRefreshRate" onchange="refreshPlot.call(this, event)">
                    <option value="1000">1 hz</option>
                    <option value="200">5 hz</option>   
                    <option value="100">10 hz</option>
                    <option value="50">20 hz</option>                    
                    <option value="25">40 hz</option>
                </select>  
                <img class="resetIcon" src="images/resetPlots.png" alt="Reset plots">
            </div>
			<div class="clear-both" style="margin-bottom:10px;"></div>
			<div class="checkboxes">
				<!-- list of checkboxes generated here -->      
			</div>
		</div>     
    </div>
    <div class="plots" style="top:75px;">
    	<!-- plot definitions generated here -->
    </div>
 
</div>
