<div class="tab-setup">
    <div id="setup-left">
        <div class="clear-both"></div>
        <div class="section">
            <!-- language selection-->
            <div class="section">
              <h4>Language Selection /语言选择</h4>
              <img class="black-line" src="images/black_line.png">
              <div class="clear-both"></div>

              <table style="margin-bottom: 8px">
                      <tr>
                          <td>
                              <label><b i18n="selectLanuage"></b></label>
                          </td>
                          <td>                      
                              <select class="dropdown" id="selectlanguage" name="selectlanguage">
                              <option id="enBtn" value="en">English</option>
                              <option id="zhBtn" value="zh">简体中文</option>
                              </select>
                          </td>
                      </tr>
              </table>   
            </div>		
          
            <!-- Working Units-->
            <h4 i18n="workingUnits"></h4>
            <img class="black-line" src="images/black_line.png">
            <div class="clear-both"></div>
            <table>
                <tr>
                    <td>
                        <label><b i18n="torqueForSetUpTab"></b></label>
                    </td>
                    <td>
                        <select class="dropdown" name="torque"></select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label><b i18n="thrust"></b></label>
                    </td>
                    <td>
                        <select class="dropdown" name="thrust"></select>
                    </td>
                </tr>
                <tr class="1580">
                    <td>
                        <label><b i18n="weight"></b></label>
                    </td>
                    <td>
                        <select class="dropdown" name="weight"></select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label><b i18n="motorspeed"></b></label>
                    </td>
                    <td>
                        <select class="dropdown" name="motorSpeed"></select>
                    </td>
                </tr>
                <tr class="1580 1780">
                    <td>
                        <label><b i18n="temperature"></b></label>
                    </td>
                    <td>
                        <select class="dropdown" name="temperature"></select>
                    </td>
                </tr>
                <tr class="1580 1780">
                    <td>
                        <label><b i18n="speed"></b></label>
                    </td>
                    <td>
                        <select class="dropdown" name="speed"></select>
                    </td>
                </tr>
                <tr class="1580 1780">
                    <td>
                        <label><b i18n="pressure"></b></label>
                    </td>
                    <td>
                        <select class="dropdown" name="pressure"></select>
                    </td>
                </tr>
            </table>
            <div class="clear-both"></div>
        </div>
        <div class="clear-both"></div>
<!--        Firmware Upgrade        -->
        <div class="section">
            <h4 i18n="firmwareUpgrade"></h4>
            <img class="black-line" src="images/black_line.png">
            <div class="clear-both"></div>
            <table style="margin-bottom: 8px">
                <tr>
                    <td>
                        <label><b i18n="selectFirmware"></b></label>
                    </td>
                    <td>
                        <select class="dropdown" name="boardselect"></select>
                    </td>
                </tr>
            </table>
            <div id="setup-firmware-update-button">
                <a class="flash-firmware button button-std-config" href="#"></a>
            </div>
            <div class="clear-both"></div>
            <label class="flashResult"></label>
        </div>
        <div class="clear-both"></div>
        <!-- Working directory           -->
        <div class="section">
            <h4 i18n="workingDirectory"></h4>
            <img class="black-line" src="images/black_line.png">
            <div class="clear-both"></div>
            <div id="working-directory">
                <!-- working directory is shown here -->
            </div>
            <div id="setup-working-directory-button">
                <a class="button-directory button-std-config" href="#">...</a>
            </div>
        </div>
      
        <!-- App Configuration         -->
        <div class="section">
            <h4 i18n="app_migration"></h4>
            <img class="black-line" src="images/black_line.png">
            <div class="clear-both"></div>
            <label i18n="migration_instructions"></label>
            <br/>
            <br/>
            <a id="export-migration" class="button-std-config migration" href="#" i18n="migration_export"></a>
            <a id="import-migration" class="button-std-config migration" href="#" i18n="migration_import"></a>
            <a id="clear-migration" class="button-std-config migration app-clear" href="#" i18n="migration_clear"></a>
        </div>		
    </div>
    <div id="setup-right">
        
        <div class="section">
<!--            RPM Sensor            -->
            <h4 i18n="RPMSensor"></h4>
            <img class="black-line" src="images/black_line.png">
            <div class="clear-both"></div>
                <h4 class="1520 1580" style="padding-bottom: 4px;"><span i18n="SelectMainRPMSensor"></span> <img style="cursor: pointer;" id="mainRPMInfoButton" src="images/question.png" height="20" width="20">:</h4>
                <div class="clear-both"></div>
                <style type="text/css">
                    .tg  {border-collapse:collapse;border-spacing:0;}
                    .tg td{font-family:Arial, sans-serif;font-size:14px;padding:0px 5px;overflow:hidden;word-break:normal;line-height: 1.3em;}
                    .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:0px 5px;overflow:hidden;word-break:normal;}
                    .tg .tg-baqh{text-align:center;vertical-align:top}
                    .tg .tg-yw4l{vertical-align:top}
                </style>
                <table class="tg">
                  <tr class="1520 1580">
                    <td class="tg-baqh">&nbsp;&nbsp;<input id="RPMMainButtonElectrical" class="RPMradio" type="radio" value="electrical" name="RPMMainButton">&nbsp;&nbsp;</td>
                    <td class="tg-yw4l"><span i18n="ElectricalRPMSensor"></span><br/><span i18n="Numberofpoles"></span><input class="divider-input" type="number" id="poleInput" min="2" max="100" step="2"></td>
                    <td class="tg-yw4l"><br/><img style="cursor: pointer;" id="poleInfoButton" src="images/question.png" height="20" width="20"></td>
                  </tr>
                  <tr>
                    <td class="tg-baqh 1580 1520">&nbsp;&nbsp;<input id="RPMMainButtonElectrical" class="RPMradio" type="radio" value="optical" name="RPMMainButton">&nbsp;&nbsp;</td>
                    <td class="tg-yw4l"><span i18n="OpticalRPMSensor"></span><span class="1780Bside">&nbsp;(<span i18n="sideA"></span>)</span><br/><span i18n="Numberoftapes"></span>&nbsp;&nbsp;<input class="divider-input" type="number" id="opticalInput" min="1" max="100" step="1"></td>
                    <td class="tg-yw4l"><br/><img style="cursor: pointer;" id="opticalInfoButton" src="images/question.png" height="20" width="20"></td>
                  </tr>
                  <tr>
                    <td class="tg-yw4l 1780Bside"><span i18n="OpticalRPMSensor"></span> (<span i18n="sideB"></span>)<br/><span i18n="Numberoftapes"></span>&nbsp;&nbsp;<input class="divider-input" type="number" id="BopticalInput" min="1" max="100" step="1"></td>
                  </tr>
                </table>
            <div id="divisorShowDialog" style="display:none"> </div>
            <div class="clear-both"></div>
            <br>
            <div class="clear-both"></div>
            <div class="section 1580 1780">
                <h4><span i18n="tempSensors"></span> <img style="cursor: pointer;" id="tempInfoButton" src="images/question.png" height="20" width="20"></h4>
                <img class="black-line" src="images/black_line.png">
                <div class="clear-both"></div>
				<label id="no-temp-probes-display"><span i18n="no"></span> <a href="https://www.rcbenchmark.com/products/temperature-probe-for-series-1580" target="_blank" style = "text-decoration: underline;"><span i18n="temperatureProbe"></span></a><span i18n="detectedForTemperatureProbe"></span></label>  
                <label id="temp-probes-display" style="display: none;">
                   <span i18n="tempSensorsRename"></span><br><br>
                    <table>
                    </table>
                  <br><small><div i18n="tempSensorsUniqueId"></div></small><br>
                </label>
            </div>
            <div id="temperatureShowDialog" style="display:none"> </div>
            <div class="clear-both"></div>
            <div class="section">
                <h4 i18n="GUISettings"></h4>
                <img class="black-line" src="images/black_line.png">
                <div class="clear-both"></div>
                <label>
                    <input class="developer_mode" type="checkbox" />
                    <span class="developer_mode" i18n="developerMode"></span>
                </label>
                <div class="clear-both"></div>
                <label>
                    <input class="scripting_mode" type="checkbox" />
                    <span class="scripting_mode" i18n="scriptingMode"></span>
                    <div id="showScriptDialog" style="display:none"> </div>
                </label>
                <!-- <div class="clear-both"></div>
                <label id="database_mode_checkbox_area">
                    <input class="database_mode" type="checkbox" />
                    <span class="database_mode" i18n="databaseMode"></span>
                    <div id="showDatabaseDialog" style="display:none"> </div>
                </label> -->
                <div class="clear-both"></div>
                <label>
                    <input class="googleAnalytics" type="checkbox" />
                    <span class=" googleAnalytics" i18n="googleAnalytics"></span>
                </label>
            </div>
            <div class="section">
                <h4 i18n="SampleRate">Sample Rate</h4>
                <img class="black-line" src="images/black_line.png">
                <div class="clear-both"></div>
                <div id="setup-sample-rate">
                    <a class="sample-rate button button-std-config" href="#" i18n="setupSampleRate"></a>
                </div>
            </div>
            <!-- </br> -->            
        </div>
        <div id="showCalibWizard" style="display:none"></div>
        <div id="showSampleRate" style="display:none"></div>
        <div id="showClearWarning" style="display:none"></div>
    </div>
	
