
<div id="credits-popup" title="Credits">
    <span class="ui-state-default"><span class="ui-icon ui-icon-info" style="float:left; margin:0 7px 0 0;"></span></span>
    <div style="margin-left: 23px;">
        <div id='header'>
            <a href="https://www.rcbenchmark.com/" target="_blank">
            <img src="images/light-wide-1.svg" alt="RCbenchmark Logo" style="width:65%;height:65%;">
            </a>
            <h2>Motor and Propeller Test Tools<h2>
        </div>
        </br>
        <h4>Partners: </h4>
        <div id='partners'>
            <div class="section">
                <a href="http://www.tytorobotics.ca/" target="_blank"><img src="images/tyto_robotics_logo.png" alt="Tyto Robotics Inc. Logo" style="width:60%;height:60%;"></a>
            </div>
            <div class="section">
                <a href="http://www.startupgarage.ca/" target="_blank"><img src="images/startupgarage_logo.jpg" alt="Startup Garage Logo" style="width:60%;height:60%;"></a>
            </div>
            <div class="section">
                <a href="https://www.uottawa.ca/" target="_blank"><img src="images/uottawa_logo.png" alt="University of Ottawa Logo" style="width:60%;height:60%;"></a>
            </div>
            <div class="section">
                <a href="http://www.cienciasemfronteiras.gov.br/web/csf-eng/" target="_blank"><img src="images/Sciencewithoutborders_logo.jpg" alt="Science without borders/BRASIL Logo" style="width:55%;height:55%;"></a>
            </div>
            <div class="section">
                <a href="http://investottawa.ca/" target="_blank"><img src="images/investOttawa_logo.png" alt="Invest Ottawa Logo" style="width:60%;height:60%;"></a>
            </div>
            <div class="section">
                <a href="http://www.algonquincollege.com/" target="_blank"><img src="images/algonquin_log.png" alt="College Algonquin Logo" style="width:60%;height:60%;"></a>
            </div>
        </div>
        <div id='collaborator'>
        </br>
        <h4>Lead programmers:</h4>
            <p>Charles Blouin, co-founder of Tyto Robotics Inc., CEO</p>
            <p>Dominic Robillard, co-founder of Tyto Robotics Inc., CTO</p>
        </br>
        <h4>Principal Investigator:</h4>
            <p>Adam Jarvis, Professor, Interactive Multimedia and Design program (Ottawa campus) and Applied Research Project Facilitator</p>
        </br>
        <h4>Developers/Design:</h4>
            <p>Andre Luis Andrade Silva, exchange student in Computer Engineering</p>
            <p>André Robillard, IT and Hardware Specialist (Sweden)</p>
            <p>Emanuel Teodoro Sousa, exchange student in Computer Engineering</p>
            <p>Igor Vasconcelos Costa, exchange student in Information Systems - UFS</p>
            <p>Jordan Koski, Interactive Multimedia and Design student.</p>
            <p>Akif Manzoor, Computer Engineering student, University of Ottawa</p>
            <p>Tianze Gao, Computer Science student, University of Ottawa</p>
            <p>Jiajian Jiang, Electrical designer and firmware developper</p>
            
        </br>
        <h4>Beta testers:</h4>
            <p>Eric Lanteigne, Assistant Professor, Mechanical Engineering, University of Ottawa</p>
            <p>Dominic Phillipe Muzar, Masters Candidate in Mechanical Engineering, University of Ottawa</p>
            <p>Lucas Do Prado Pisolati, exchange student in Mechatronics Engineering</p>
        </br>
        <h4>Original contributors:</h4>
            <p>Dominic Clifton/hydra - maintainer of the Cleanflight firmware and configurator, from which this project was forked.</p> 
            <p>Stefan Kolla/cTn-dev - primary author and maintainer of Baseflight Configurator from which Cleanflight was forked.</p> 
        </br>
            <h4><i>Thank you to all those who made this project possible.
                <p>From the Tyto Robotics team.</i></p></h4>
        </div>        
    </div>
</div>