
<div id="poles-popup">
    <span class="ui-state-default"><span class="ui-icon ui-icon-info" style="float:left; margin:0 7px 0 0;"></span></span>
    <div style="margin-left: 23px;">
        <h2 i18n="howToInstallIpticalSensor"></h2>
        </br>
        <h3 i18n="why"></h3>
        <p>
          <span i18n="electrical RPM Sensor information"></span><a href="https://www.rcbenchmark.com/product/optical-rpm-probe/" target="_blank" style = "text-decoration: underline;"  i18n="optical RPM probe link"></a>.
        </p>
        </br>
        <h3 i18n="installation"></h3>
        </br>
        <div style='margin-right: auto; margin-left: auto;text-align: center'>
            <figure>
                <img src="images/optical_sensor_installation.png" alt="Fig. 1: Example of optical probe installation.">
                <figcaption><small i18n="fig1OpticalProbeInstallation"></small></figcaption>
            </figure>
        </div>
        </br>
        <p>
          <span i18n="connectSensorInformation"></span> 
        </br><br>
        <h3 i18n="numberOfDivisors"></h3>
         <span i18n="ifYouAreUsingMultiplePieces"></span>
        </p>
        </br>
        <h3 i18n="power"></h3>
            <span i18n="TheProbeMustBePoweredBy5v"></span>
            <ul>
              <li i18n="blackGround"></li>
              <li i18n="red5V"></li>
              <li i18n="white-RPMSignalOutput"></li>
            </ul>
            </br><span i18n="aSimpleMethodToPowerTheProbe"></span>
        </p></br>
<h3 i18n="troubleshooting"></h3>
        <p>
           <span i18n="ifYourProbeDoesNotSeemToWork"></span>
            <ul>      
              <li i18n="ifYourProbeDoesNotSeemToWork1"></li>
              <li i18n="ifYourProbeDoesNotSeemToWork2"></li>
              <li i18n="ifYourProbeDoesNotSeemToWork3"></li>
              <li i18n="ifYourProbeDoesNotSeemToWork4"></li>
            </ul>
        </p>
        </br>
    </div>
</div>