﻿<div id="script-popup">
    <span class="ui-state-default"><span class="ui-icon ui-icon-info" style="float:left; margin:0 7px 0 0;"></span></span>
    <div style="margin-left: 23px;">
        <h4><span style="color:red"><strong i18n="warning"></strong>: </span><span i18n="activateScriptModeWarning"></span></h4><br><br>
    	<h3 i18n="doYouReallyWantToActivateScriptingMode"></h3><br><br>
	    <div id="buttons-script-warning">
			<div class="buttons">
		        <a class="yes-button" href="#"><span i18n="yes"></span></a>
		    </div>
		    <div class="buttons">
		        <a class="no-button" style="float:right" href="#"><span i18n="no"></span></a>
		    </div>
	    </div>
	</div>
</div>